/*
 *  Font imports
 */

@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Inconsolata:400,700');



/*
 * Font families
 */

$app-font:              'Lato', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$app-font-mono:         monospace;



/*
 * Colors
 */

$color-fonts:           #222;
$color-neutral:         #333333;
$color-lightneutral:    #333333;
$color-primary:         #3cb054;
$color-secondary:       #3cb054;
$color-menu-bg:         #AAAAAA;

$color-green-dark:      #1f4427;



/*
 * Application Variables
 */

$app-menu-width:        275px;
$app-topbar-height:     50px;