@import "../_viewports";
@import "../_variables";

.MenuComp--overlay {
  display: none;

  @include viewports(up-to small) {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    opacity: 0;
    background: $color-neutral;
    transition: opacity 0.3s linear;
    pointer-events: none;
  }

  &.active {
    @include viewports(up-to small) {
      opacity: 0.8;
      pointer-events: all;
    }
  }
}

.MenuComp {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: $app-menu-width;
  height: 100vh;
  overflow-y: auto;
  user-select: none;
  background: $color-lightneutral;
  box-shadow: -1px 0 0 rgba($color-fonts, 0.08) inset;

  @include viewports(up-to small) {
    transition: transform 0.5s cubic-bezier(.17,.67,.45,1);
    transform: translate3d(-100%, 0, 0);
    box-shadow: 5px 0 30px rgba(#000, 0.1);
  }

  &.open {
    @include viewports(up-to small) {
      transform: translate3d(0, 0, 0);
    }
  }

  > .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    cursor: pointer;
    
    img {
      max-width: 188px;
      margin-left: -5px;
    }

    @include viewports(up-to small) {
      height: 80px;
    }
  }

  > .menu {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 1.4rem;
      padding: 0;
      cursor: pointer;

      @include viewports(up-to small) {
        font-size: 1.5rem;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

      .subsection {
        display: none;

        &.show {
          display: block;
        }
      }

      a {
        display: block;
        padding: 0.8rem 2rem;
        color: inherit;
        text-decoration: none;

        @include viewports(up-to small) {
          padding: 1.2rem 2rem;
        }
      }

      &.h1 {
        color: #fff;
        font-weight: bold;
        //height: 33px;
        overflow: hidden;

        > a {
          position: relative;
          background: rgba(#fff, 0.08);
          box-shadow: 0 1px 0 rgba(#fff, 0.08) inset, 0 -1px 0 rgba(#fff, 0.08) inset;

          &:hover {
            background: rgba(#fff, 0.1);
            color: #fff;
          }
        }
      }

      &.h2 {
        font-size: 1.3rem;  
        color: rgba(#fff, 0.5);
        background: rgba(#fff, 0.05);

        @include viewports(up-to small) {
          font-size: 1.4rem;
        }

        a {
          position: relative;
          padding-left: 3rem;

          &:hover {
            background: rgba(#fff, 0.05);
            color: #fff;
          }
        }
      }

      &.active {
        > a {
          background: $color-primary !important;
          font-weight: bold;
          color: rgba(#fff, 0.7);
          
          &:before, &:after {
            content: '';
            position: absolute;
            right: 0px;
            top: 0;
            height: 100%;
            display: block;
          }

          &:before {
            right: 4px;
            width: 1px;
            background: rgba(#fff, 0.7);
          }

          &:after {
            width: 4px;
            background: rgba(#fff, 0.5);
          }
        }
      }
    }
  }
}